# Install libraries

In [ ]:
!pip install pandas-dedupe
!pip install seaborn

# Import libraries

In [19]:
import pandas as pd
from sqlalchemy import create_engine

import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

# Import sql databases as Dataframes

In [ ]:
db_schema = 'sqlite:///inria-aphp-assignment-master/data.db'
engine = create_engine(db_schema, echo=False)
con = engine.connect()
df_patient_cleaned = pd.read_sql('select * from patient_cleaned', con=con)
con.close()

# Data Analysis

In [20]:
#display df_patient_cleaned
df_patient_cleaned

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2
0,221958,matisse,clarke,13.0,rene street,ellenbrook,2527,wa,19710708.0,32.0,0886018809,westella
1,771155,joshua,elrick,23.0,andrea place,east preston,2074,nsw,19120921.0,34.0,0297793152,foxdown
2,231932,alice,conboy,35.0,mountain circuit,prospect,2305,nsw,19810905.0,22.0,0220403934,None
3,465838,sienna,craswell,39.0,cumberlegeicrescent,henty,3620,wa,19840809.0,30.0,0262832318,jodane
4,359178,joshua,bastiaans,144.0,lowrie street,campbell town,4051,nsw,19340430.0,31.0,0369359594,None
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,368617,abby,None,19.0,john cleland crescent,boyne island,2290,nsw,19570210.0,NaN,0292489054,glenmore
19996,796658,dale,priest,19.0,bellchambers crescent,hoppers crossing,3033,wa,19590619.0,31.0,0720549476,None
19997,511885,alessia,mawlai,4.0,miller street,smithfield,3616,tas,NaN,26.0,0383466737,None
19998,985932,hannah,mason,1.0,halligan place,beaumaris,2443,wa,19140304.0,25.0,0441125514,None
19999,925217,jack,mcveigh,5.0,alinda place,thornlands,4350,nsw,19230521.0,26.0,0752535106,None

In [21]:
#get df_patient info
df_patient_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   patient_id     20000 non-null  int64
 1   given_name     19560 non-null  object
 2   surname        19575 non-null  object
 3   street_number  19618 non-null  float64
 4   address_1      19204 non-null  object
 5   suburb         19788 non-null  object
 6   postcode       19801 non-null  object
 7   state          18010 non-null  object
 8   date_of_birth  17989 non-null  float64
 9   age            16003 non-null  float64
 10  phone_number   19081 non-null  object
 11  address_2      7893 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 1.8+ MB

In [22]:
#get statistical analysis on df_patient
df_patient_cleaned.describe()

          patient_id  street_number  date_of_birth           age
count   20000.000000   19618.000000   1.798900e+04  16003.000000
mean   549103.403600      98.812468   1.949638e+07     27.534337
std    263073.145139    2481.908686   2.926916e+05      7.807008
min     79502.000000       0.000000   1.290041e+07      0.000000
25%    322080.750000      10.000000   1.924113e+07     24.000000
50%    552055.500000      24.000000   1.950032e+07     29.000000
75%    777125.500000      60.000000   1.975052e+07     33.000000
max    999993.000000  342951.000000   1.999123e+07     92.000000

In [23]:
#get nunique values
df_patient_cleaned.nunique()

patient_id       20000
given_name        1171
surname           4273
street_number      834
address_1         4326
suburb            2915
postcode          2009
state              102
date_of_birth    13654
age                 58
phone_number     17916
address_2         3460
dtype: int64

# Apply dedupe algorithm on our dataframe after cleaning

In [25]:
#remove duplicates based on ['given_name', 'surname', 'street_number','suburb','phone_number','suburb'] columns
df_final = pandas_dedupe.dedupe_dataframe(df_patient_cleaned,['given_name', 'surname', 'street_number','suburb','phone_number','suburb'])

Importing data ...

given_name : matthew
surname : leesong
street_number : None
suburb : None
phone_number : 0365791334

given_name : matthew
surname : leesong
street_number : None
suburb : None
phone_number : 0365791334

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished

Starting active labeling...

 y

given_name : mathew
surname : teague
street_number : 11.0
suburb : None
phone_number : 0419702338

given_name : matthew
surname : teague
street_number : 11.0
suburb : None
phone_number : 0419702338

1/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : kane
surname : mccloskey
street_number : None
suburb : sunshine
phone_number : 0806129366

given_name : kane
surname : mccloskey
street_number : 18.0
suburb : sunshine
phone_number : 0806129366

2/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : james
surname : None
street_number : 42.0
suburb : wilson
phone_number : 0203755662

given_name : jim
surname : None
street_number : 42.0
suburb : wilson
phone_number : 0203755662

3/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : casey
surname : None
street_number : 17.0
suburb : figtree
phone_number : 0836636317

given_name : casey
surname : None
street_number : 17.0
suburb : figtree
phone_number : 0836636317

4/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : None
surname : fitzpatrick
street_number : 4.0
suburb : russell lea
phone_number : 0417727347

given_name : None
surname : fitzpatrick
street_number : 4.0
suburb : russell lea
phone_number : 0417727347

5/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : None
surname : eglinton
street_number : 12.0
suburb : surry hills
phone_number : 0249550430

given_name : None
surname : eglinton
street_number : 12.0
suburb : surry hill
phone_number : 0249550430

6/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : nichols
surname : green
street_number : 29.0
suburb : wongan hills east
phone_number : 0382234967

given_name : nicholas
surname : green
street_number : 29.0
suburb : wongan hills east
phone_number : 0382232967

7/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : raquel
surname : coleman
street_number : 19.0
suburb : ormond
phone_number : None

given_name : james
surname : coleman
street_number : 28.0
suburb : None
phone_number : 0227404913

8/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 u

given_name : nikki
surname : None
street_number : 38.0
suburb : None
phone_number : 0294305990

given_name : jade
surname : chou
street_number : 48.0
suburb : frenchs forest
phone_number : 0349205990

8/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : anna
surname : mason
street_number : 136.0
suburb : somerton park
phone_number : 0464903961

given_name : anna
surname : mason
street_number : 133.0
suburb : somerton park
phone_number : 0464903061

8/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : None
surname : green
street_number : None
suburb : fish creek
phone_number : None

given_name : tynan
surname : green
street_number : 123.0
suburb : wantirna
phone_number : 0368618136

9/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 u

given_name : jack
surname : crisci
street_number : 2.0
suburb : newstead
phone_number : 0847719598

given_name : jack
surname : crisci
street_number : 1.0
suburb : newstead
phone_number : 0847714598

9/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : kyle
surname : fitzpatrick
street_number : 3.0
suburb : burleigh waters
phone_number : 0886028364

given_name : None
surname : godfrey
street_number : 35.0
suburb : burleigh waters
phone_number : None

10/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : brianna
surname : stephenson
street_number : 23.0
suburb : st kilda east
phone_number : None

given_name : None
surname : novitski
street_number : 3.0
suburb : st kilda east
phone_number : 0335003032

10/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : nicholas
surname : None
street_number : 157.0
suburb : wangi wangi
phone_number : 0411527081

given_name : None
surname : auman
street_number : 157.0
suburb : clayton
phone_number : 0741178206

10/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : michaela
surname : None
street_number : 34.0
suburb : leongatha
phone_number : 0275740490

given_name : michael
surname : None
street_number : None
suburb : coombabah
phone_number : 0444820562

10/10 positive, 4/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : jayden
surname : tmokign
street_number : 32.0
suburb : buffxalo
phone_number : 0711820917

given_name : jayden
surname : tomkin
street_number : 32.0
suburb : buffalo
phone_number : 0711820917

10/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : teegan
surname : pettipgill
street_number : 7.0
suburb : st kilda
phone_number : 0702141678

given_name : teenan
surname : pettingill
street_number : 81.0
suburb : st kilda
phone_number : 0702141678

11/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : willuam
surname : white
street_number : 42.0
suburb : carlingfword
phone_number : 0389262726

given_name : william
surname : white
street_number : 24.0
suburb : carlintnford
phone_number : 0389262726

12/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : tiana
surname : ryan
street_number : 17.0
suburb : kirrawee
phone_number : None

given_name : None
surname : None
street_number : 20.0
suburb : cooroy
phone_number : 0316641630

13/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : None
surname : nguyen
street_number : 163.0
suburb : bute
phone_number : 0366357746

given_name : julia
surname : nguyen
street_number : 12.0
suburb : beaumont
phone_number : None

13/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 u

given_name : nicholas
surname : talladira
street_number : 52.0
suburb : ascot vale
phone_number : None

given_name : talia
surname : None
street_number : 2080.0
suburb : ascot vale
phone_number : None

13/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : ethan
surname : blake
street_number : 29.0
suburb : ingleowd
phone_number : 0400020311

given_name : et ha
surname : blake
street_number : 29.0
suburb : inglewood
phone_number : 0400020311

13/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : macormack
surname : ryan
street_number : 7.0
suburb : burnside
phone_number : 0735367744

given_name : macormack
surname : rynan
street_number : 80.0
suburb : burnside
phone_number : 0735367744

14/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : lucy
surname : bollen
street_number : 39.0
suburb : warburton east
phone_number : 0393629463

given_name : lucy
surname : webbr
street_number : 39.0
suburb : warburton east
phone_number : 0393629463

15/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : jpel
surname : morrison
street_number : 48.0
suburb : nairne
phone_number : 0841912280

given_name : joel
surname : morrison
street_number : 84.0
suburb : naine
phone_number : 0841912280

16/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : sam
surname : white
street_number : 5.0
suburb : None
phone_number : 0832408468

given_name : benjamin
surname : None
street_number : 5.0
suburb : altona north
phone_number : 0401037305

17/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : louis
surname : blackwell
street_number : 10.0
suburb : bibra lake
phone_number : 0297010866

given_name : louis
surname : blackwell
street_number : 10.0
suburb : lake bibra
phone_number : 0297010866

17/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : matthew
surname : white
street_number : None
suburb : north sydney
phone_number : 0793690529

given_name : matthew
surname : wht
street_number : None
suburb : midvale
phone_number : 0793690529

18/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 y

given_name : sam
surname : bagusauskas
street_number : 23.0
suburb : malvern
phone_number : 0742598194

given_name : dominic
surname : basedow
street_number : 29.0
suburb : malvern
phone_number : None

19/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : cassandra
surname : None
street_number : 2.0
suburb : ardeer
phone_number : 0231105312

given_name : seth
surname : galinec
street_number : 2.0
suburb : montmorency
phone_number : None

19/10 positive, 9/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 n

given_name : None
surname : carmody
street_number : 50.0
suburb : judds creek
phone_number : 0215329528

given_name : courtney
surname : carmody
street_number : 13.0
suburb : waterloo corner
phone_number : None

19/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

 f

Finished labeling

Clustering...
# duplicate sets 18888

En faisant labeliser minimum 10 recors positives et négatives et parès l'entrainement l'algorithme a detetcté environ 1112 données dupliqués ce qui n'est pas loin de mes résultats

In [26]:
#display result
display(df_final)

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2,cluster id,confidence
0,221958,matisse,clarke,13.0,rene street,ellenbrook,2527,wa,19710708.0,32.0,0886018809,westella,669,1.0
1,771155,joshua,elrick,23.0,andrea place,east preston,2074,nsw,19120921.0,34.0,0297793152,foxdown,670,1.0
2,231932,alice,conboy,35.0,mountain circuit,prospect,2305,nsw,19810905.0,22.0,0220403934,None,671,1.0
3,465838,sienna,craswell,39.0,cumberlegeicrescent,henty,3620,wa,19840809.0,30.0,0262832318,jodane,0,1.0
4,359178,joshua,bastiaans,144.0,lowrie street,campbell town,4051,nsw,19340430.0,31.0,0369359594,None,672,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,368617,abby,None,19.0,john cleland crescent,boyne island,2290,nsw,19570210.0,None,0292489054,glenmore,18883,1.0
19996,796658,dale,priest,19.0,bellchambers crescent,hoppers crossing,3033,wa,19590619.0,31.0,0720549476,None,18884,1.0
19997,511885,alessia,mawlai,4.0,miller street,smithfield,3616,tas,None,26.0,0383466737,None,18885,1.0
19998,985932,hannah,mason,1.0,halligan place,beaumaris,2443,wa,19140304.0,25.0,0441125514,None,18886,1.0
19999,925217,jack,mcveigh,5.0,alinda place,thornlands,4350,nsw,19230521.0,26.0,0752535106,None,18887,1.0

Pour le résultat final, on un dataframe généré avec deux nouvelles colonnes clusted id (tous les dupliqués on le meme id) et confidence ( le score que cet element appartient au cluster d'un id bien determiné

In [27]:
#remove duplicates by removing rows having same id and keep the first one 
df_final.drop_duplicates(subset='cluster id', keep="first",inplace=True)
#remove confidence and cluster id columns
df_final.drop(["cluster id","confidence"],axis=1,inplace=True)

In [28]:
display(df_final)

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2
0,221958,matisse,clarke,13.0,rene street,ellenbrook,2527,wa,19710708.0,32.0,0886018809,westella
1,771155,joshua,elrick,23.0,andrea place,east preston,2074,nsw,19120921.0,34.0,0297793152,foxdown
2,231932,alice,conboy,35.0,mountain circuit,prospect,2305,nsw,19810905.0,22.0,0220403934,None
3,465838,sienna,craswell,39.0,cumberlegeicrescent,henty,3620,wa,19840809.0,30.0,0262832318,jodane
4,359178,joshua,bastiaans,144.0,lowrie street,campbell town,4051,nsw,19340430.0,31.0,0369359594,None
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,368617,abby,None,19.0,john cleland crescent,boyne island,2290,nsw,19570210.0,None,0292489054,glenmore
19996,796658,dale,priest,19.0,bellchambers crescent,hoppers crossing,3033,wa,19590619.0,31.0,0720549476,None
19997,511885,alessia,mawlai,4.0,miller street,smithfield,3616,tas,None,26.0,0383466737,None
19998,985932,hannah,mason,1.0,halligan place,beaumaris,2443,wa,19140304.0,25.0,0441125514,None
19999,925217,jack,mcveigh,5.0,alinda place,thornlands,4350,nsw,19230521.0,26.0,0752535106,None

In [29]:
#construct duplicates number pdf contains count of duplicates and non duplicates
duplicates_number_df = pd.DataFrame([len(df_final),len(df_patient_cleaned)-len(df_final)],index=['duplicates', 'non_duplicates'],columns=["sum"])
duplicates_number_df

                  sum
duplicates      18888
non_duplicates   1112

## Plot count duplicates Vs Non duplicates

In [30]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(20,10))
sns.set(style="darkgrid")
sns.barplot(x=duplicates_number_df.index,y="sum", data=duplicates_number_df,ax=ax1)

# defining labels 
activities = duplicates_number_df.index  
# portion covered by each label 
slices = duplicates_number_df["sum"]
# color for each label 
  
# plotting the pie chart 
ax2.pie(slices, labels = activities,  
        startangle=90, 
        radius = 1, autopct = '%1.1f%%') 

# plotting legend 
ax2.legend(loc="upper right")

# plotting titles 
ax1.set_title("Duplicates Vs Non Duplicates", fontsize=18)
ax2.set_title("Duplicates Vs Non Duplicates", fontsize=18)

plt.show()

NameError: name 'plt' is not defined

Selon ces graphes, notre dataframe a un pourcentage de 7% de données qui sont dupliquées en utilisant pandas dedupe library